* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://media.moddb.com/images/groups/1/4/3147/EU_Flags_01_1.jpg");
  background-size: cover;
  background-position: center;
}
.wrapper {
  /* width: 90vmin; */
  min-height: 100vh;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding: 0.8em 2em;
  border-radius: 60px;
  background-color: #fff;
}
.search-container input {
  /* width: 75%; */
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 0.8em 0.5em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.search-container button {
  /* width: 25%; */
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px 14px;
  border-radius: 20px;
  font-size: 19px;
  color: #919191;
}
.country-flag {
  width: 200px;
  height: 200px;
  display: block;
  margin: auto;
  border-radius: 50%;
  border: 6px solid #fff;
}
.country-data {
  margin: 1em 0;
  padding: 2em 2em;
  background-color: #fff;
}
